header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    width: 50%;
    margin-top: 1%;
    max-width: 150px;
}

.titulo{
    font-weight: bold;
    color: #b2e6c8;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b2e6c8;
    padding: 10px;
    border-radius: 2ch;
    max-width: 350px;
}

form{
    background-color: #b2e6c8;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    margin-top: 10%;
    width: 90%;
    height: 50px;
    background-color: #b2e6c8;
    color: #073B4C;
    border: 1px solid #073B4C;
    padding: 0 1% 0 1%;
    border-radius: 10px;
    font-size: 130%;
    min-width: 180px;
}

a{
    background-color: #b2e6c8;
    text-decoration: none;
    color: black;
}

.jaPossuo{
    margin-top: 5%;
}

.termosDeUso{
    margin-top: 10%;
}

.btn_1{
    width: 35%;
    background-color: #073B4C;
    color: #b2e6c8;
    margin-right: 5%;
    height: 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    font-size: 120%;
}

.btn_google{
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 40px;
    width: 80%;
    border-radius: 10px;
    color: #073B4C;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 120%;
}

.btn_2{
    border: none;
    height: 40px;
    width: 80%;
    margin-bottom: 10%;
    border-radius: 10px;
    background-color: #073B4C;
    color: #b2e6c8;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    font-size: 120%;
}