@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: #003d46;
  color: #c6f3e7;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  text-align: center;
  max-width: 400px;
  width: 90%;
}

.logo {
  width: 90px;
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8em;
  color: #b8ffe1;
  margin-bottom: 20px;
}

.card {
  background-color: #024a53;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.card p {
  font-size: 0.95em;
  line-height: 1.5em;
  margin-bottom: 25px;
  color: #a6e7da;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #9ef1d8;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #b8ffe11a;
  color: #c6f3e7;
  font-size: 1em;
  margin-bottom: 15px;
}

input::placeholder {
  color: #93d7c7;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btnColetor {
  background-color: #00a87c;
  color: #e0fff4;
  margin-bottom: 10px;
}

#btnColetor:hover {
  background-color: #02c896;
}

.confirmar {
  background-color: transparent;
  border: 2px solid #89ffde;
  color: #89ffde;
}

.confirmar:hover {
  background-color: #89ffde;
  color: #023a3f;
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.6em;
  }
  .card {
    padding: 20px;
  }
}
