* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", "Passion One";
  }

html, body{
    height: 100%;
    background-image: url(../Images/Fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* Ícone */
.Icon {
  width: 18%;
  max-width: 120px;
  margin-top: 20px;
  height: auto;
}

/* Título */
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #B2E6C8;
  margin: 10px 0 30px 0;
  text-align: center;
}

:root {
  --clr-bg: #073B4C;
  --clr-icon: rgba(178, 230, 200, 0.5);
  --clr-active: #B2E6C8;
  --clr-text: rgba(178, 230, 200, 0.5);
  --clr-text-active: #1E453E; 
}




.top-bar-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  background: rgba(255, 255, 255, 0.05);
}

.top-bar-search .search-input {
  flex: 1;
  margin: 0 10px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.top-bar-search .notif-btn img {
  width: 24px;
  height: 24px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  text-align: center;
  padding: 15px;
  color: var(--clr-text-active);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  border-radius: 8px;
}


/* ========================= */
/* LOGO NERA */
/* ========================= */
.logo-container {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.logo-container a {
  display: inline-block;
}

.logo-nera {
  width: 120px;   /* ajusta o tamanho da logo */
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.logo-nera:hover {
  transform: scale(1.05); /* efeito ao passar o mouse */
}

