/* Fundo */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Passion One', sans-serif;
}

/* Ícone */
.Icon {
  width: 18%;
  max-width: 120px;
  margin-top: 20px;
  height: auto;
}

/* Título */
h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #B2E6C8;
  margin: 10px 0 30px 0;
  text-align: center;
}

/* 🔥 Cards */
.card {
  background-color: #B2E6C8;
  padding: 15px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  margin-bottom: 25px;
}

.card h2 {
  font-size: 2rem;
  color: #B2E6C8;
  margin-bottom: 10px;
  text-align: left;
}

/* Box de informações */
.info-box {
  background-color: #499681;
  height: 30px;
  border-radius: 8px;
  margin: 8px 0;
}

/* Linha de coletores */
.coletor-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #499681;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 1.8rem;
  margin-top: 8px;
}

/* Barra de pesquisa */
.search-container {
  display: flex;
  align-items: center;
  background-color: #B2E6C8;
  border-radius: 20px;
  padding: 8px 12px;
  width: 80%;
  max-width: 400px;
  margin-top: 10px;
}

.search-input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.4rem;
  color: #073b4c;
}

.search-input::placeholder {
  color: #B2E6C8;
  opacity: 0.7;
}



/* Botão alinhado à direita */
button {
  align-self: flex-end;   /* 🔥 joga o botão para o canto direito */
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  background-color: #B2E6C8;
  color: #073B4C;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Passion One', sans-serif;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}



.botao-container {
  width: 80%;
  max-width: 400px;
  display: flex;
  justify-content: flex-end; /* joga o botão para direita */
}


